<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=DELL\SQLEXPRESS; Initial Catalog=WeeklyExercise; User ID=sa; Password=a.jesus3;Persist Security Info=True"/>
    <add name="OnlineDB" connectionString="Data Source=qds105749136.my3w.com; Initial Catalog=qds105749136_db; User ID=qds105749136; Password=a2060090523;Persist Security Info=True"/>
  </connectionStrings>
  <appSettings>
    <add key="environment" value="local"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>