<Tmpl>
  <Post-Response-Modal>
    <div class="modal fade" id="_{Modal_Id}_" tabindex="-1" role="dialog"
	     aria-labelledby="_{Modal_Label}_" aria-hidden="true" style="top:30%;">
      <div class="modal-dialog">
        <div class="modal-content" style="background:#FFCC99">
          <div class="modal-header">
            <button type="button" class="close"
               data-dismiss="modal" aria-hidden="true">
              &amp;times
            </button>
            <h4 class="modal-title" id="_{Modal_Label}_">
              Alert
            </h4>
          </div>
          <div id="post-response-alert-body" class="modal-body alert-danger">
            <!-- alert Info-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning"
               data-dismiss="modal" style="width:100%">
              Close
            </button>
          </div>
        </div> 
      </div> 
    </div>
  </Post-Response-Modal> 
</Tmpl>